:root{
    --primary-color: #7a67ff;
    --secondary-color: #15161c;
    --third-color: #624cf0;
    --form-color: #1c1e26;
    --body-color: #ccced8;
    --color-white: #fff;
    --font-family: 'Quicksand', sans-serif;
    --em-text: 0.7vw;
    --em-text-2: 0.8vw;
    --sm-text: 0.9vw;
    --sm-text-2: 0.95vw;
    --md-text: 1vw;
    --md-text-2: 1.25vw;
    --md-text-3: 1.5vw;
    --lg-text: 1.75vw;
    --lg-text-2: 2vw;
    --lg-text-3: 2.25vw;
    --lg-text-4: 2.75vw;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) and (orientation: portrait) {
    :root{
        --em-text:1vw;
        --em-text-2: 1.1vw;
        --sm-text: 1.25vw;
        --sm-text-2: 1.3vw;
        --md-text: 1.5vw;
        --md-text-2: 1.75vw;
        --md-text-3: 2vw;
        --lg-text: 2.25vw;
        --lg-text-2: 3vw;
        --lg-text-3: 3.5vw;
        --lg-text-4: 4.5vw;
    }
}

@media only screen and (max-width:767px){
    :root{
        --em-text: 3vw;
        --em-text-2: 3.1vw;
        --sm-text: 3.25vw;
        --sm-text-2: 3.5vw;
        --md-text: 4vw;
        --md-text-2: 4.5vw;
        --md-text-3: 5vw;
        --lg-text: 5.5vw;
        --lg-text-2: 6vw;
        --lg-text-3: 6.5vw;
        --lg-text-4: 7.5vw;
    }
}